In [1]:
import streamlit as st 
import numpy as np 
import pandas as pd

In [2]:
st.title('Streamlit 超入門')

st.write('DataFrame')

df = pd.DataFrame({
    '1列目':[1,2,3,4],
    '2列目':[10,20,30,40]
})

2022-02-19 14:31:13.655
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\0000136874\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [3]:
df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40